@use '../base/variables' as *;
@use '../base/mixins' as *;

.header {

    position: sticky;
    top: 0;
    left: 0;
    background-color: $color-bg-base;
    z-index: 10;

    & .content-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: $space-m-minus;
        flex-wrap: wrap;
        padding-block: $space-m;
    }

    &__unit-left {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: $space-s;
        flex-wrap: wrap;

        @include tab {
            gap: $space-l-minus;
        }
    }

    &__unit-right {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: $space-xs-minus;
        flex-wrap: wrap;
    }

    &__nav-list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: $space-xs-minus;
        flex-wrap: wrap;

        @include tab {
            flex-direction: row;
        }
    }

    &__nav-item {
        padding-block: $space-s-plus;
        padding-inline: $space-l-minus;
        @include tab {
            padding-block: $space-xxs-plus;
            padding-inline: $space-xs-plus;
        }
    }

    &__nav-link {
        font-size: $fs-text-xl;
        line-height: $lh-text-xl;

        @include tab {
            font-size: $fs-text-m;
            line-height: $lh-text-m;
        }
    }

    &__burger {
        flex-direction: column;
        row-gap: $space-xxs;
        padding-block: $space-xs-plus;
        padding-inline: $space-xs;

        &.show-x .header__burger-bar {
            position: relative;
        }

        &.show-x .header__burger-bar-1 {
            transform: rotate(45deg);
            top: 5px;
        }

        &.show-x .header__burger-bar-2 {
            opacity: 0;
        }

        &.show-x .header__burger-bar-3 {
            transform: rotate(-45deg);
            top: -7px;
        }
    }

    &__burger-bar {
        width: $burger-bar-width;
        height: $burger-bar-height;
        border-radius: $border-radius-xxs;
        background-color: $color-text-icon-primary-invert;
        @include transition((opacity, transform));
    }

    &__dropdown {
        &.show {
            background-color: $color-bg-alternative;
            width: 100%;
            height: 100vh;
            position: absolute;
            left: 0;
            top: 100%;
            opacity: 1;
            padding: $space-s;
            @include transition(opacity);
        }
    }

}