@use '../base/variables' as *;
@use '../base/mixins' as *;

.heading-xl {

    color: $color-text-icon-primary;
    font-family: $ff-secondary;
    font-weight: $fw-l;
    letter-spacing: $lts-s;
    font-size: $fs-title-xl;
    line-height: $lh-title-xl;
    margin: 0;

    &__highlighted {
        color: $color-accent;
    }

}

.heading-xl--mob-small {
    font-size: $fs-title-l;
    line-height: $lh-title-l;

    @include tab {
        font-size: $fs-title-xl;
        line-height: $lh-title-xl;
    }
}