@use '../base/variables' as *;
@use '../base/mixins' as *;

.picture-grid {

    display: inline-grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    max-height: $hero-illustration-max-height;

    &__icon-wrapper {
        background-color: $color-bg-base;
        padding: $space-xs-plus;
        border-radius: $border-radius-s;
    }

}

.picture-grid__item--large-vertical {
    grid-row: 1 / -1;
    grid-column: 1 / 3;
    place-self: start;
}

.picture-grid__item--large-horizontal {
    grid-row: 3 / 5;
    grid-column: 1 / -1;
    place-self: end;
}

.picture-grid__item--small-top {
    grid-row: 1 / 2;
    grid-column: 4 / 5;
    place-self: center start;
}

.picture-grid__item--small-bottom {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
    place-self: center;
}

.picture-grid__item--horizontal {
    grid-row: 1 / 3;
    grid-column: 3 / 5;
    place-self: center;
}