@use '../base/variables' as *;
@use '../base/mixins' as *;

.product-card {

    position: relative;

    &__link {

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: $space-m-minus;

        @include hover {
            .product-card__price {
                color: $color-accent;
            }
        }
    }
    
    &__body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;
        gap: $space-s;
    }

    &__img {
        display: block;
        border-radius: $border-radius-xl;
    }

    &__label {
        color: $color-neutral-primary;
        text-transform: uppercase;
        font-size: $fs-text-l;
        line-height: $lh-text-l;
        font-weight: $fw-s;
        padding-block: $space-xs-minus;
        padding-inline: $space-s;
        position: absolute;
        left: $space-s;
        top: $space-s;
        border-radius: $border-radius-xl;
    }

    &__tags {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: $space-xxs;
    }

    &__tag {
        color: $color-text-icon-tertiary;
        font-size: $fs-text-l;
        line-height: $lh-text-l;

        @include transition((color));

        &:not(:last-child)::after {
            content: '\2022';
            margin-inline-start: $space-xxs;
        }
    }

    &__purchase {
        display: flex;
        gap: $space-xs-plus;
        align-items: center;
        flex-grow: 1;
    }

    &__price {
        line-height: $lh-title-m;

        @include transition((color), .2s);
    }

    &__actions {
        position: absolute;
        bottom: 0;
        right: 0;
    }

}

.product-card--new {
    .product-card__label {
        background-color: $color-status-new;
    }
}

.product-card--popular {
    .product-card__label {
        background-color: $color-accent;
    }
}

.product-card--soldout {

    &::after {
        content: '';
        position: absolute;
        inset: 0;
        background-color: $color-bg-base;
        opacity: .5;
    }

    .product-card__actions {
        opacity: 0;
        position: absolute;
        width: 0;
        height: 0;
        overflow: hidden;
    }

    .product-card__label {
        background-color: $color-bg-base;
        color: $color-text-icon-tertiary;
    }
}