@use '../base/variables' as *;
@use '../base/mixins' as *;

.content-wrapper {

    max-width: $content-width-max;
    margin-inline: auto;
    padding-inline: $space-s;

    @include tab {
        padding-inline: $space-l-plus;
    }

    @include desk {
        padding-inline: 0;
    }
}