/* screen sizes */
$mob-w: 440px;
$tab-w: 1024px;
$desk-w: 1440px;


/* breakpoints */
$breakpoints: (
    mob: 440px,
    tab: 1024px,
    desk: 1440px
);


/* content sizes */
$content-width-max: 1280px;
$search-input-width: 240px;
$burger-bar-width: 18px;
$burger-bar-height: 2px;
$footer-brand-info-width: 320px;
$subscribe-input-width: 240px;
$hero-body-max-width: 520px;
$hero-illustration-max-height: 545px;
$faq-list-width-desk: 620px;
$faq-list-width-tab: 412px;
$faq-gradient-width: 400px;
$faq-gradient-height: 250px;
$service-card-width: 224px;
$products-filter-width: 217px;
$blogpage-sidebar-width: 260px;
$checkbox-size: 14px;
$radio-size: 14px;
$switcher-width: 40px;
$switcher-height: 20px;
$switcher-circle-size: 16px;
$textarea-height: 180px;

/* fonts */
$ff-primary: 'Libre Franklin', 'Arial', sans-serif;
$ff-secondary: 'Plus Jakarta Sans', 'Verdana', sans-serif;


/* letter spacing */
$lts-s: -0.5px;


/* colors */
$color-text-icon-primary: rgba(13, 13, 21, 1);
$color-text-icon-secondary: rgba(42, 53, 65, 0.851);
$color-text-icon-tertiary: rgba(42, 53, 65, 0.698);
$color-text-icon-baseicon: rgba(39, 53, 68, 0.549);
$color-text-icon-disabled: rgba(34, 52, 73, 0.4);
$color-text-icon-primary-invert: rgba(248, 247, 255, 1);
$color-text-icon-secondary-invert: rgba(239, 245, 250, 0.82);
$color-text-icon-tertiary-invert: rgba(231, 238, 247, 0.659);
$color-text-icon-baseicon-invert: rgba(231, 241, 253, 0.49);
$color-text-icon-disabled-invert: rgba(229, 236, 251, 0.361);
$color-text-icon-alternative: rgba(26, 25, 37, 1);
$color-text-icon-alternative-secondary: rgba(29, 28, 40, 1);
$color-text-icon-additional: rgba(34, 34, 34, 1);

$color-bg-base: rgba(255, 255, 255, 1);
$color-bg-alternative: rgba(248, 250, 252, 1);
$color-bg-alternative-secondary: rgba(244, 247, 250, 1);
$color-bg-base-invert: rgba(13, 13, 21, 1);
$color-bg-alternative-invert: rgba(26, 25, 37, 1);
$color-bg-alternative-secondary-invert: rgba(29, 28, 40, 1);
$color-bg-gradient: rgba(240, 246, 253, 1);

$color-accent: rgba(2, 101, 220, 1);
$color-line: rgba(31, 50, 71, 0.271);
$color-line-secondary: rgba(34, 34, 34, 0.149);
$color-separator: rgba(41, 77, 117, 0.09);
$color-separator-bold: rgba(29, 54, 83, 0.169);
$color-focus: rgba(56, 146, 243, 1);
$color-pressed: rgba(0, 84, 182, 1);
$color-accent-invert: rgba(120, 187, 250, 1);
$color-line-invert: rgba(212, 217, 242, 0.259);
$color-separator-invert: rgba(191, 197, 238, 0.122);
$color-separator-bold-invert: rgba(208, 215, 251, 0.169);
$color-focus-invert: rgba(150, 206, 253, 1);
$color-active: rgba(181, 222, 255, 1);

$color-status-neutral: rgba(137, 144, 153, 1);
$color-status-negative: rgba(234, 56, 41, 1);
$color-status-high: rgba(203, 93, 0, 1);
$color-status-medium: rgba(248, 217, 4, 1);
$color-status-info: rgba(157, 87, 244, 1);
$color-status-positive: rgba(0, 143, 93, 1);
$color-status-new: rgba(0, 119, 114, 1);

$color-neutral-primary: rgba(245, 248, 251, 1);
$color-neutral-secondary: rgba(239, 245, 250, 0.82);
$color-neutral-tertiary: rgba(231, 238, 247, 0.659);
$color-neutral-base-icon: rgba(231, 241, 253, 0.49);
$color-neutral-disabled: rgba(34, 52, 73, 0.4);
$color-neutral-line: rgba(212, 217, 242, 0.259);
$color-neutral-separator: rgba(191, 197, 238, 0.122);
$color-neutral-separator-bold: rgba(208, 215, 251, 0.169);
$color-neutral-alternative: rgba(208, 215, 251, 0.169);
$color-neutral-alternative-secondary: rgba(244, 247, 250, 1);

$color-box-shadow: rgba(29, 57, 95, 0.078);



/* spacing */
$space-xxs-minus: 2px;
$space-xxs: 4px;
$space-xxs-large: 5px;
$space-xxs-plus: 6px;
$space-xs-minus: 8px;
$space-xs: 10px;
$space-xs-plus: 12px;
$space-s-minus: 14px;
$space-s: 16px;
$space-s-plus: 18px;
$space-m-minus: 20px;
$space-m: 24px;
$space-m-plus: 28px;
$space-l-minus: 32px;
$space-l: 36px;
$space-l-plus: 40px;
$space-xl-minus: 44px;
$space-xl: 48px;
$space-xl-plus: 52px;
$space-xxl-minus: 56px;
$space-xxl: 64px;
$space-xxl-plus: 72px;
$space-xxxl: 80px;
$space-xxxxl: 100px;

$section-space-mob: 64px;
$section-space-tab: 120px;


/* font size */
$fs-text-xs: 11px;
$fs-text-s: 12px;
$fs-text-m: 14px;
$fs-text-l: 16px;
$fs-text-xl: 18px;

$fs-title-xs: 20px;
$fs-title-s: 24px;
$fs-title-m: 28px;
$fs-title-l: 36px;
$fs-title-xl: 52px;


/* line height */
$lh-text-xs: 16px;
$lh-text-s: 18px;
$lh-text-m: 20px;
$lh-text-l: 24px;
$lh-text-xl: 28px;

$lh-title-xs: 26px;
$lh-title-xs-plus: 28px;
$lh-title-s: 32px;
$lh-title-m: 36px;
$lh-title-l: 48px;
$lh-title-xl: 62px;


/* font weight */
$fw-xs: 400;
$fw-s: 500;
$fw-m: 600;
$fw-l: 700;


/* border width */
$border-width-xs: 1px;
$border-width-s: 2px;
$border-width-m: 4px;
$border-width-l: 5px;


/* outline width */
$outline-width-xs: 1px;
$outline-width-s: 2px;
$outline-width-m: 4px;


/* border radius */
$border-radius-xxs: 1px;
$border-radius-xs: 4px;
$border-radius-s: 5px;
$border-radius-m: 8px;
$border-radius-l: 10px;
$border-radius-xl: 20px;